h1{
  font-size:500%;
  font-family:'Pacifico', cursive;
  text-align: center;
  color: #ffb3ff;
}
#idk {
  font-size: 300%;

}

.monkeys{
  padding-left: 100px;
}
body{
 font-family:Helvetica;
 margin:0px 10% 0 10%;
 color: #0000b3;
}

.
